.feed {
  flex: 0.475;
  border-right: 1px solid var(--twitter-background);
  overflow-y: scroll;
  /* min-width: fit-content; */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed::-webkit-scrollbar {
  display: none;
}
