.container {
  margin-top: 2%;
}

.Xlogo {
  width: 44px;
}

.heading {
  font-size: 270%;
  font-weight: 900;
  margin: 7.5%;
  margin-top: 12%;
  margin-left: 0%;
}

.content {
  font-weight: 900;
  font-size: 130%;

  margin-top: 7%;
  margin-bottom: 4%;
  margin-left: 0%;
}
