
.delete-dialog >.MuiDialog-container > .MuiDialog-paper {
    width: 320px;
    height: 304px;
    border-radius: 15px !important;
  }

  .delete-dialog-content > .MuiTypography-root{
    padding: 0  !important;
    
}
.delete-dialog-content > .MuiDialogContent-root{
    padding: 0 !important;
}
.delete-dialog-content{
    display: flex;
    flex-direction: column;
    padding: 32px;
    /* align-self: center; */
    align-items: start;
}
 .MuiDialog-paper >.delete-dialog-content>  .delete-option-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px -12px -12px 0;
}

.MuiDialog-paper >.delete-dialog-content> .delete-option-container >.delete-btn{
    outline: none !important;
    background-color: red !important;
    color: white !important;
    font-weight: 550 !important;
    font-size: 15px !important;
    height: 43px !important;
    border-radius: 30px !important;
    border: none !important;
    text-transform: inherit !important;
    width: 256px;
    margin-bottom: 12px;
    /* margin-top: 5px !important; */
}

.delete-dialog-content> .delete-option-container >.delete-btn:hover{
    background-color:rgb(229, 5, 5) !important;
    transition: background-color 200ms ease-out;
}

.MuiDialog-paper >.delete-dialog-content> .delete-option-container >.cancel-btn{
    outline: none !important;
    background-color: white !important;
    color: black !important;
    font-weight: 550 !important;
    font-size: 15px !important;
    height: 43px !important;
    border-radius: 30px !important;
    border-color: #c8cbcd;
    text-transform: inherit !important;
    width: 256px;
    margin-bottom: 12px;
}

.delete-dialog-content> .delete-option-container >.cancel-btn:hover{
    background-color:var(--twitter-greyHover) !important;
    transition: background-color 200ms ease-out;
}