.weak-feed-header {
    z-index: 0;
    top: 0%;
    position: sticky;
    border-bottom: 1px solid var(--twitter-background);
    background-color: white;
    display: flex;
    align-items: center;
  }
  
  .feed-header {
    z-index: 100;
    top: 0%;
    position: sticky;
    border-bottom: 1px solid var(--twitter-background);
    background-color: white;
    display: flex;
    align-items: center;
  }
  
  .icon-wrapper {
    flex: 0.08;
    display: flex;
    justify-content: flex-end;
  }
  
  .timeline-settings {
    margin: 0;
    width: 40px !important;
    padding: 3px 0;
  }
  
  .feed-header .feed-haeder-element {
    margin: 0;
    padding: 15px 0;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    color: var(--twitter-greyColor);
  }
  
  .weak-feed-header .feed-haeder-element {
    margin: 0;
    padding: 15px 0;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    color: var(--twitter-greyColor);
  }
  
  .feed-haeder-element:hover {
    cursor: pointer;
    background-color: var(--twitter-greyHover);
    transition: background-color 200ms ease-out;
  }
  
  .icon-wrapper > .MuiSvgIcon-root {
    font-size: 20px;
    /* width: 20px !important; */
    /* height: 20px !important; */
  }
  
  .icon-wrapper > .MuiSvgIcon-root:hover {
    cursor: pointer;
    background-color: var(--twitter-greyHover);
    transition: background-color 200ms ease-out;
    border-radius: 50%;
  }
  
  .--feed-header-active {
    color: black;
    border-bottom: 4px solid var(--twitter-color);
    padding-bottom: 13px;
  }
.--reply-container {
    color: black;
    display: flex; 
    align-items: flex-start;
    font-size: 20px;
}
.--reply-container button {
    padding: 5px 15px;
    border: none;
    background: none;
    cursor: pointer;
}
.--reply-container button:hover {
    background-color: var(--twitter-greyHover);
}
