.image-uploader{
    display: flex;
    align-items: start;
}

.image-uploader > .MuiImageList-root{
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* display: flex; */
    margin: 0;
    }

.image-uploader > .MuiImageList-root::-webkit-scrollbar{
    display: none;
}

.image-uploader > .MuiImageList-root > .MuiImageListItem-root > img{
    /* width: 249.6 ; */
    /* flex: 0.5; */
    /* border: 5px solid red; */
    border-radius: 20px;
    width: 249.6px;
    height: 137.78px;
}