.media-error-msg{
    width:328px ;
    height: 22px;
    border-radius: 5px;
    left: 38%;
    top: 90%;
    position: fixed;
    z-index: 100;
    padding: 12px;
    margin: 0 0 32;
    background-color: var(--button-background);
}

.media-error-msg > .error-text-container{
    padding: 0 11px;
    text-align: center;
    text-justify: center;
}

.media-error-msg > .error-text-container > .error-text{
    color: white;
    font-size: 15px;
    
}
