.login-window-wrapper-for-forget-password {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  z-index: -1;
}

.overlay-for-forget-password {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 0;
}

.login-window-for-forget-password {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 585px;
  max-width: 600px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  z-index: 1;
}

.login-window-header-for-forget-password {
  padding: 16px;
  text-align: center;
}

.login-window-close-button-for-forget-password {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
}

.login-window-close-button-for-forget-password:hover::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.enter-uuid-window-for-forget-password {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  max-height: 600px;
  overflow-y: auto;
}

.enter-uuid-window-for-forget-password h2 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 20px;
}

.enter-uuid-window-for-forget-password button {
  height: 50px;
  width: 420px;
  padding: 10px 0;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #999;
  font-size: medium;
  cursor: pointer;
  text-align: center;
  display: flex;
}

.enter-uuid-window-for-forget-password button:hover {
  opacity: .8;
  transition: 0.1s;
}

.enter-uuid-window-for-forget-password button img {
  width: 24px;
  margin-right: 10px;
}

.enter-uuid-window-for-forget-password hr {
  border: none;
  width: 300px;
  height: 1px;
  border-top: 1px solid #c2c2c2;
  margin: 5px;
}

.enter-uuid-window-for-forget-password label {
  width: 420px;
  text-align: left;
  opacity: .7;
  margin: auto;
  display: block;
  margin-bottom: 20px;
  background: #fff;
  font-size: 15px;
}

.enter-uuid-window-for-forget-password form input {
  width: 400px;
  background: transparent;
  border: 1px solid #999;
  outline: 0;
  padding: 15px 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.enter-uuid-window-for-forget-password a {
  text-decoration: none;
  color: #359cf0;
}

.enter-uuid-window-for-forget-password ::placeholder {
  font-size: medium;
  font-weight: 500;
  color: #bbb7b7;
}

.enter-uuid-window-for-forget-password form button {
  background: #000;
  color: #fff;
  border: 1px solid #000;
  margin-top: 120px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

.enter-uuid-window-for-forget-password form button:disabled {
  opacity: .6;
  cursor: not-allowed;
}

.enter-uuid-window-for-forget-password p {
  text-align: left;
  font-size: 14px;
  color: #555;
  margin: 20px 0 50px;
}

.enter-password-window-for-forget-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 600px;
  overflow-y: auto;
}

.enter-password-window-for-forget-password h2 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 20px;
}

.enter-password-window-for-forget-password form input {
  width: 300px;
  background: transparent;
  border: 1px solid #999;
  outline: 0;
  padding: 15px 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.enter-password-window-for-forget-password form input.uuid-input-for-forget-password {
  width: 300px;
  background: #f1f1f1;
  border: 1px solid #ccc;
  outline: 0;
  padding: 15px 10px;
  border-radius: 5px;
  margin: 10px 0;
  color: #777;
  user-select: text;
  pointer-events: none;
}

.enter-password-window-for-forget-password form input.uuid-input-for-forget-password::selection {
  background-color: #359cf0;
  color: #fff;
}

.user-uuid-error-for-forget-password,
.user-password-error-for-forget-password {
  color: red;
}

.enter-password-window-for-forget-password p {
  text-align: left;
  font-size: 14px;
  color: #555;
  margin: 20px 0 50px;
}

@media (max-width: 767px) {
  .login-window-for-forget-password {
      width: 90%;
  }

  .enter-uuid-window-for-forget-password form button,
  .enter-password-window-for-forget-password button {
      width: 100%;
      margin-left: 0;
  }

  .enter-uuid-window-for-forget-password h2,
  .enter-password-window-for-forget-password h2 {
      font-size: 1.5em;
  }

  .enter-uuid-window-for-forget-password input,
  .enter-password-window-for-forget-password input {
      width: 100%;
  }

  .enter-uuid-window-for-forget-password button img,
  .enter-password-window-for-forget-password button img {
      width: 20px;
  }
}