.chat-window {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 1px solid;
    border-color: var(--twitter-background);
    transform: translate3d(0px, 0px, 0px);
    max-width: 600px;
}
