.chat-header{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 53px;
    padding: 0px 16px;
}

.chat-header > .name-wrapper{
    align-items: center;
}

.chat-header > .name-wrapper > .text-span{
    color: #0F1419;
    font-weight: bolder;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}